{% extends 'base.html.twig' %}

{% block title %}Show Dish{% endblock %}

{% block body %}

{% for message in app.flashes('success')%}
    <div class="alert alert-success">
        <h3>{{ message}}</h3>
    </div>
{% endfor %}
<div class="container">
    <h2>Show Dish</h2>
    <br>
    <table class="table table-stripped">
        <thead>
         <tr>
            <td>Order No</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Delete</td>
            <td><a href="{{ path ('dish.create')}}">Add New Dish</a></td>
         </tr>
        </thead>
        <tbody>
        {% for dish in dishes%}
            <tr>
                <td>{{dish.id}}</td>
                <td>{{dish.name}}</td>
                <td>{{dish.description}}</td>
                <td><a href="{{ path ('dish.delete', {id: dish.id} ) }}">Delete Dish</a></td>
                <td></td>
                <td></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
